.container-fluid
  .row.vh-100

    // 左のサイドバー
    .col.col-2.p-0

      .row.bg-info.align-items-center.justify-content-center.m-0.mb-2(style="height: 100px;")
        .col.p-0
          %h1.text-center LOGO

      // タブ
      %ul.nav.nav-tabs(id="myTab" role="tablist")
        %li.nav-item
          %a.nav-link.active(id="rooms-tab" data-toggle="tab" href="#rooms" role="tab" aria-controls="rooms" aria-selected="true")
            ルーム
        %li.nav-item
          %a.nav-link(id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false")
            フレンド

      // タブの内容
      .tab-content(id="myTabContent")

        // ルーム一覧
        .tab-pane.fade.show.active.list-group(id="rooms" role="tabpanel" aria-labelledby="rooms-tab")

          // ルーム作成ボタン
          .text-center
            .btn.btn-sm.btn-success.my-1{"data-target" => "#modalRoomNew", "data-toggle" => "modal", type: "button" }
              ルームを作成する<i class="fas fa-plus"></i>

          // モーダルでルーム作成フォームを表示する記述
          #modalRoomNew.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalRoomNewTitle", role: "dialog", tabindex: "-1"}
            .modal-dialog{role: "document"}
              .modal-content
                .modal-header
                  %h5#modalRoomNewTitle.modal-title ルーム作成<i class="fas fa-plus"></i>
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body.text-left(style="word-wrap: break-word;")
                  // モーダルの中身
                  = render "public/rooms/room_form", room: Room.new, submit_text: "ルーム作成"

          - @rooms.each do |room|
            -# %p{"data-tablinks" => "off"}
            - if room == @room
              // 選択しているルーム
              = link_to root_path, data: { 'turbolinks': false }, class: "list-group-item d-flex justify-content-between align-items-center active" do
                = room.name
                - if room.entried?(current_user)
                  %span.badge.badge-secondary.badge-pill= room.messages.count
                - else
                  %span.badge.badge-danger.badge-pill 未参加
            - else
              // 未選択のルーム
              - if room.entried?(current_user)
                // 参加しているルーム
                - if room.owner_id == current_user.id
                  = link_to root_path(room_id: room.id), data: { 'turbolinks': false }, class: "list-group-item list-group-item-info d-flex justify-content-between align-items-center list-group-item-action" do
                    = room.name
                    %span.badge.badge-primary.badge-pill= room.messages.count
                - else
                  = link_to root_path(room_id: room.id), data: { 'turbolinks': false }, class: "list-group-item d-flex justify-content-between align-items-center list-group-item-action" do
                    = room.name
                    %span.badge.badge-primary.badge-pill= room.messages.count
              - else
                // 未参加のルーム
                = link_to root_path(room_id: room.id), data: { 'turbolinks': false }, class: "list-group-item list-group-item-warning d-flex justify-content-between align-items-center list-group-item-action" do
                  = room.name
                  %span.badge.badge-danger.badge-pill 未参加

        // フレンド一覧
        .tab-pane.fade.list-group(id="friends" role="tabpanel" aria-labelledby="friends-tab")

          // フレンド検索フォーム
          = form_with url: root_path, method: :get do |f|
            = f.select :range, options_for_select( { '名前' => 'Name', 'ニックネーム' => 'Nickname', 'ID' => 'ID'  }, 'Name')
            = f.search_field :word
            = f.submit "検索", id: "user_list"
          = link_to "リセット", root_path, method: :get

          - @users.each do |user|
            %span.list-group-item
              = user.nickname
              - if current_user.following?(user)
                = link_to "フォローを外す", users_relationships_path(params: {user_id: user.id}), method: :delete
              - else
                = link_to "フォローする", users_relationships_path(params: {user_id: user.id}), method: :post

          // 自分をフォローしている　＆　自分がフォローしていない人を出す
          %p友達かも？
          - @users_follower.each do |user|
            - unless current_user.following?(user)
              = user.nickname
              = link_to "フォローする", users_relationships_path(params: {user_id: user.id}), method: :post

    // メイン画面
    .col.border-left
      // 画面右上にプルダウンメニューを表示
      .fixed-top
        .btn-group.float-right.mt-2.mr-2
          #button(type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            <i class="fas fa-user"></i>
            = current_user.nickname
          .dropdown-menu.dropdown-menu-right.p-2
            .dropdown-item.my-1{"data-target" => "#modalUserEdit", "data-toggle" => "modal", type: "button" }
              ユーザーの編集
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item"

      #modalUserEdit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalUserEditTitle", role: "dialog", tabindex: "-1"}
        .modal-dialog{role: "document"}
          .modal-content
            .modal-header
              %h5#modalUserEditTitle.modal-title ユーザー情報編集<i class="fas fa-plus"></i>
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                %span{"aria-hisdden" => "true"} ×
            .modal-body.text-left(style="word-wrap: break-word;")
              // モーダルの中身
              = form_with model: current_user, url: users_path, method: :patch do |f|
                .field.mt-3
                  = f.label :name, "名前", class: "pl-2"
                  = f.text_field :name, class: "form-control", id: "validationTextarea", placeholder: "お名前", required: true
                  .invalid-feedback お名前を入力してください。
                .field.mt-3
                  = f.label :nickname, "ニックネーム", class: "pl-2"
                  = f.text_field :nickname, class: "form-control", id: "validationTextarea", placeholder: "ニックネーム", required: true
                  .invalid-feedback ニックネームを入力してください。
                .field.mt-3
                  = f.label :phone_number, "電話番号", class: "pl-2"
                  = f.number_field :phone_number, class: "form-control", id: "validationTextarea", placeholder: "電話番号", required: true
                  .invalid-feedback 電話番号を入力してください。
                .field.mt-3
                  = f.label :email, "メールアドレス", class: "pl-2"
                  = f.email_field :email, autofocus: true, class: "form-control", id: "validationTextarea", placeholder: "メールアドレス", required: true
                  .invalid-feedback メールアドレスを入力してください。
                .field.mt-3
                  = f.label :search_id, "検索用ID", class: "pl-2"
                  = f.text_field :search_id, class: "form-control", placeholder: "検索用ID"
                .mt-3
                  = f.submit "更新", class: "btn btn-success"


      // ルーム選択時
      - if @room.present?
        %h1
          = @room.name
          .d-flex
            // フレンド招待ボタン
            .btn.btn-sm.btn-success.my-1{"data-target" => "#modalRoomEntry", "data-toggle" => "modal", type: "button" }
              フレンド招待 <i class="fas fa-user-plus"></i>

            // 参加者一覧ボタン
            .btn.btn-sm.btn-success.my-1.ml-2{"data-target" => "#modalRoomUsers", "data-toggle" => "modal", type: "button"}
              参加者一覧 <i class="fas fa-users"></i>

            // ルーム編集ボタン（オーナーのみ表示させる）
            - if @room.owner_id == current_user.id
              .btn.btn-sm.btn-warning.my-1.ml-2{"data-target" => "#modalRoomEdit", "data-toggle" => "modal", type: "button"}
                ルーム編集 <i class="fas fa-edit"></i>

        // モーダルで参加者一覧画面を表示する記述
        #modalRoomUsers.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalRoomUsersTitle", role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
            .modal-content
              .modal-header
                %h5#modalRoomUsersTitle.modal-title 参加者一覧<i class="fas fa-users"></i>
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
              .modal-body.text-left(style="word-wrap: break-word;")
                // モーダルの中身
                .list-group
                  - @room.users.each do |user|
                    .list-group-item
                      - if @room.entried?(user)
                        - if user.id == @room.owner_id
                          = user.nickname + " (オーナー)"
                        - else
                          = user.nickname
                      - else
                        = user.nickname + " (招待中)"

        // モーダルでフレンド招待画面を表示する記述
        #modalRoomEntry.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalRoomEntryTitle", role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
            .modal-content
              .modal-header
                %h5#modalRoomEntryTitle.modal-title フレンド招待<i class="fas fa-plus"></i>
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
              .modal-body.text-left(style="word-wrap: break-word;")
                %small
                  招待したいフレンドにチェックして送信ボタンを押してください。
                = form_with model: Entry.new, url: create_all_path, method: :post do |f|
                  - count = 0
                  .list-group
                    - @mutual_follows.each do |user|
                      - unless @room.users.any?{|room_user| room_user == user}
                        = f.hidden_field :room_id, :value => @room.id
                        .list-group-item
                          = check_box_tag "user_ids[]", user.id
                          = user.nickname
                        - count += 1
                  .modal-footer.mt-3
                    - if count == 0
                      = "招待を送れるユーザーがいません"
                    - else
                      = submit_tag "送信", class: "btn btn-info"

        // モーダルでルーム編集画面を表示する記述
        #modalRoomEdit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalRoomEditTitle", role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
            .modal-content
              .modal-header
                %h5#modalRoomEditTitle.modal-title ルーム編集<i class="fas fa-edit"></i>
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
              .modal-body.text-left(style="word-wrap: break-word;")
                // モーダルの中身
                = render "public/rooms/room_form", room: @room, submit_text: "変更を保存"

        // チャット画面
        .container(id="data" data-chatroom-id="#{@room.id}" data-user-id="#{current_user.id}")
          // メッセージ一覧（部分テンプレート化済み）
          // Websocketを介してサーバーからデータを受信した時に #messages に挿入されます
          #messages.scroll-list.jscroll(style="overflow-y: scroll; overflow-x: hidden; max-height: calc(100vh - 185px);")
            - @messages.each do |message|
              = render "public/messages/message", message: message
            = paginate @messages

          // 投稿フォーム
          .row
            - if @room.entried?(current_user)
              // ルーム参加時
              = form_with model: Message.new, url: messages_path, method: :post, class: "input-group" do |f|
                = f.text_area :message, class: "form-control", rows: "3", data: { behavior: 'chatFormText' }
                = f.hidden_field :room_id, :value => @room.id, data: { behavior: 'chatFormRoomId' }
                .input-group-append
                  = f.submit "送信", class:"btn btn-outline-secondary", data: { behavior: 'chatFormSubmit' }
            - else
              // ルーム未参加時
              .text-center
                参加してメッセージを投稿しましょう
                - entry = @room.entries.find_by(user_id: current_user)
                = link_to '参加する', entry_path(entry.id), method: :patch

      - else
        %h1 ルーム未選択です


:javascript
  window.onload = () => {
    let rooms = document.getElementById("rooms-tab");
    let friends = document.getElementById("friends-tab");

    let changeActive = 1;
    let myActive = localStorage.getItem("changeActive");

    // ページ読み込み時に発火
    // changeActiveの内容で、タブが切り替わる
    rooms.addEventListener("click", () => {
      changeActive = 1;
      localStorage.setItem("changeActive", changeActive);
      rooms.click();
    });

    friends.addEventListener("click", () => {
      changeActive = 2;
      localStorage.setItem("changeActive", changeActive);
      friends.click();
    });

    if (myActive == 1) {
      rooms.click();
    } else if (myActive == 2){
      friends.click();
    } else {

    };
  };

:javascript
  $(document).on('turbolinks:load', function() {
    $('.jscroll').jscroll({ // 追加したdivのclass名と合わせる
      contentSelector: '.aa',
      nextSelector: 'nav.pagination a[rel="next"]',
      loadingHtml: '<div class="text-center"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>',
      padding: 20,
      autoTrigger: true,
      debug: true
    });
  });
