%div.container-fluid
  %div.row.text-center(style="height: 15vh;")
    // マイページ上部
    %div.col.col-2.border.bg-secondary
      LOGO
    %div.col.border.bg-secondary
      ルーム名
    %div.col.col-2.border.bg-secondary
      // ルーム作成ボタン
      // 仮のルーム作成ボタンです
      = form_with model: Room.new, url: rooms_path do |f|
        = f.hidden_field :name, :value => "name"
        = f.submit 'ルーム作成(仮)', class: "btn btn-info"

      // userボタン

      // configボタン

      // ログアウトボタン
      - if user_signed_in?
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-info"
  %div.row.bg-secondary(style="height: 85vh;")
    // マイページ下部
    %div.col.col-2
      %ul.nav.nav-tabs(id="myTab" role="tablist")
        %li.nav-item
          %a.nav-link.active(id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true")
            ルーム
        %li.nav-item
          %a.nav-link(id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false")
            フレンド
      %div.tab-content(id="myTabContent")
        // 左のサイドバー
        %div.tab-pane.fade.show.active(id="home" role="tabpanel" aria-labelledby="home-tab")
          // ルーム一覧
          - @rooms.each do |room|
            = room.name
        %div.tab-pane.fade(id="profile" role="tabpanel" aria-labelledby="profile-tab")
          // フレンド一覧
          - @users.each do |user|
            = user.name

    %div.col.border
      // チャット画面など
      チャット画面

