!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RazzleChat
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js")
    = favicon_link_tag('favicon.png')

  %body
    - if flash[:notice]
      .alert.alert-success(role="alert")
        <i class="fas fa-check-circle mr-2"></i>
        = notice
    - if flash[:alert]
      .alert.alert-danger.mb-0(role="alert")
        <i class="fas fa-check-circle mr-2"></i>
        = alert
    = yield
